<h3>Upcoming Events</h3>

<div *ngFor="let item of [].constructor(10); let i = index" class="row mb-3 align-items-center">

        <div *ngIf="i == 0 || i == 1" class="card card-level-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h5>
                            <img *ngIf="i == 0" src="/assets/img/checked_icon.png" width=32 class="rounded-circle"/>
                            <img *ngIf="i == 1" src="/assets/img/alert_icon.png" width=32 class="rounded-circle"/>
                            Training
                        </h5>
                    </div> <!-- header 1. col -->
                    <div class="col-md-4">
                        <div *ngIf="i == 0" class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch-{{i}}" tabindex="0" checked>
                            <label class="onoffswitch-label" for="myonoffswitch-{{i}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <small *ngIf="i == 0" style="font-style:italic">Your participation is confirmed</small>
                        <div *ngIf="i == 1">
                            <div ngbDropdown class="d-inline-block mr-2">
                                <button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle>Confirm</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>Confirm with message</button>
                                    <button ngbDropdownItem>Confirm without message</button>
                                </div>
                            </div>
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-danger" id="dropdownBasic1" ngbDropdownToggle>Reject</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>Reject with message</button>
                                    <button ngbDropdownItem>Reject without message</button>
                                </div>
                            </div>
                            <br>
                            <small>
                                Some data for this event has been changed by the organizer.
                                Please confirm or reject changes:
                            </small>
                        </div>

                    </div> <!-- header 2. col -->
                </div> <!-- header row -->
            </div>
            <div class="card-body">
                <div class="card-text">
                    Warm anziehen... 2. Tricko mitnehmen
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Paul Panzer (Trainer)</footer>
                    </blockquote>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/assets/img/calendar.png" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> Montag, 26.Okt. 2020</span>
                        <img src="/assets/img/clock_icon.png" style="width:24px;" class="rounded-circle ml-3"/>
                        <span class="text-info font-weight-bold">17:00h - 18:00h</span>
                    </li>
                    <li class="list-group-item">
                        <img  src="/assets/img/location.jpg" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> Waldstation, Hard</span>
                    </li>
                    <li class="list-group-item">
                        <img src="/assets/img/people-group.png" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> 12</span>
                    </li>
                </ul>
                <div class="text-right">
                    <a routerLink="/event-detail" routerLinkActive="active" class="btn btn-info">Details ...</a>
                </div>
            </div> <!-- card-body -->
        </div> <!-- card -->
</div> <!-- for .row-->

<!-- Pending Events -->

<h3>Pending Events</h3>

<div *ngFor="let item of [].constructor(10); let i = index" class="row mb-3 align-items-center">

        <div *ngIf="i == 0" class="card">
            <div class="card-header">
                <h5>
                    <img src="/assets/img/sand_clock.png" width=32 class="rounded-circle"/>
                    Training
                </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Warm anziehen... 2. Tricko mitnehmen
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Paul Panzer (Trainer)</footer>
                    </blockquote>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/assets/img/calendar.png" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> Montag, 26.Okt. 2020</span>
                        <img src="/assets/img/clock_icon.png" style="width:24px;" class="rounded-circle ml-3"/>
                        <span class="text-info font-weight-bold">17:00h - 18:00h</span>
                    </li>
                    <li class="list-group-item">
                        <img  src="/assets/img/location.jpg" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> Waldstation, Hard</span>
                    </li>
                    <li class="list-group-item">
                        <img src="/assets/img/people-group.png" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> 12</span>
                    </li>
                </ul>
                <a href="#" class="btn btn-info">Details</a>
            </div>
        </div> <!-- card -->

    </div>

        <div *ngIf = "i == 0">
            <p>
            <small>
                You have sent the joining-request
                <br>
                <strong>on 11.Sep.2020 at 18:14h</strong>
                <br>
                for this event.
                Your request is pending on confirmation by the organizer.
            </small>
            </p>
            <button class="btn btn-small btn-secondary">Resend Request</button>
        </div>

</div> <!-- for -->

<!-- Past Events -->

<h3>Past Events</h3>

<div *ngFor="let item of [].constructor(10); let i = index" class="row mb-3 align-items-center">

        <div *ngIf="i == 1 " class="card">
            <div class="card-header">
                <h5>
                    Training
                </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Warm anziehen... 2. Tricko mitnehmen
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Paul Panzer (Trainer)</footer>
                    </blockquote>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/assets/img/calendar.png" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> Montag, 26.Okt. 2020</span>
                        <img src="/assets/img/clock_icon.png" style="width:24px;" class="rounded-circle ml-3"/>
                        <span class="text-info font-weight-bold">17:00h - 18:00h</span>
                    </li>
                    <li class="list-group-item">
                        <img  src="/assets/img/location.jpg" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> Waldstation, Hard</span>
                    </li>
                    <li class="list-group-item">
                        <img src="/assets/img/people-group.png" style="width:24px;" class="rounded-circle"/>
                        <span class="text-info font-weight-bold"> 12</span>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div> <!-- card -->
</div> <!-- for -->
