<h2 class="alert alert-light font-weight-bold">Upcoming Events</h2>

<div *ngFor="let item of [].constructor(10); let i = index" class="row mb-3 align-items-center">

    <div class="col-md-12">

        <div *ngIf="i == 0 || i == 1" class="card card-event-listitem bg-success-2">
            <div class="card-header">
                <h5>
                    <img *ngIf="i == 0" src="/assets/img/checked_icon.png" width=32 class="rounded-circle"/>
                    <img *ngIf="i == 1" src="/assets/img/alert_icon.png" width=32 class="rounded-circle"/>
                    Training
                </h5>
            </div>
            <div class="card-body">
                <div *ngIf="i == 0" class="border-bottom text-right pb-2 mb-2">
                    <span class="text-success mr-3">Your participation is confirmed </span>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-sm btn-danger" id="dropdownBasic1" ngbDropdownToggle>Cancel</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Cancel with message</button>
                            <button ngbDropdownItem>Cancel without message</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="i == 1" class="border-bottom text-right pb-2 mb-2">
                    <span class="text-info mr-3">
                        Some data for this event has been changed by the organizer.
                        Please confirm or reject changes:
                    </span>
                    <div ngbDropdown class="d-inline-block mr-2">
                        <button class="btn btn-sm btn-success" id="dropdownBasic1" ngbDropdownToggle>Confirm</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Confirm with message</button>
                            <button ngbDropdownItem>Confirm without message</button>
                        </div>
                    </div>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-sm btn-danger" id="dropdownBasic1" ngbDropdownToggle>Reject</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Reject with message</button>
                            <button ngbDropdownItem>Reject without message</button>
                        </div>
                    </div>
                </div>

            <div class="card-text">
                Warm anziehen... 2. Tricko mitnehmen
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer">Paul Panzer (Trainer)</footer>
                </blockquote>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/assets/img/calendar.png" style="width:24px;" class="rounded-circle"/>
                    <span class="text-info font-weight-bold"> Montag, 26.Okt. 2020</span>
                    <img src="/assets/img/clock_icon.png" style="width:24px;" class="rounded-circle ml-3"/>
                    <span class="text-info font-weight-bold">17:00h - 18:00h</span>
                </li>
                <li class="list-group-item">
                    <img  src="/assets/img/location.jpg" style="width:24px;" class="rounded-circle"/>
                    <span class="text-info font-weight-bold"> Waldstation, Hard</span>
                </li>
                <li class="list-group-item">
                    <img src="/assets/img/people-group.png" style="width:24px;" class="rounded-circle"/>
                    <span class="text-info font-weight-bold"> 12</span>
                </li>
            </ul>
            <div class="text-right">
                <a routerLink="/event-detail" routerLinkActive="active" class="btn btn-info">Details ...</a>
            </div>

        </div> <!-- card-body -->
    </div> <!-- card -->
</div> <!-- col -->
</div> <!-- for .row-->



<h2 class="alert alert-light font-weight-bold">Pending Events</h2>

