form#navsearchform {
  position: relative;
  width: 15rem;
  background: #f1f1f1;
  /*background: #57bd84;*/
/*  border-radius: .7rem;*/
}
#navsearchform input, #navsearchform button {
  height:  3rem;
/*  font-family: var(--font-fam);*/
  border: 0;
  color: #2f2f2f;
  font-size: 1.1rem;
}
#navsearchform input[type="search"] {
  outline: 0;
  width: 100%;
  background: #f1f1f1;
  color: #999;
  padding: 0 1.5rem;
  /*border-radius: .7rem;*/
  appearance: none; 
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
#navsearchform button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  font-weight: bold;
  background: #ddd;
  color: #999;
  /*background: #57bd84;*/
 /* border-radius: 0 .7rem .7rem 0;*/
}
#navsearchform input:not(:placeholder-shown) {
  /*border-radius: .7rem 0 0 .7rem;*/
  width: calc(100% - 3.5rem);
}

#navsearchform label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
