
<div class="sticky-top border border-bottom mb-4 bg-white" style="box-shadow: 0 2px 8px -2px #aaa">
    <nav class="navbar navbar-expand-lg">
        <img src="/assets/img/logo/logo_white_large.png" style="height:64px" class="mr-3"/>
        <div class="mr-auto">
            <form onsubmit="event.preventDefault();" role="search" id="navsearchform">
                <label for="search">Search for stuff</label>
                <input id="search" type="search" placeholder="Search..." autofocus required />
                <button type="submit">Go</button>    
            </form>
        </div>
        <div>
            <button class="btn btn-light mr-3">+ Erstellen</button>
            <img src="/assets/img/profile_placeholder.jpg" width=48 class="rounded-circle"/>
        </div>
    </nav>
</div>

<div class="container container-small">
<router-outlet></router-outlet>
</div>
